{% extends 'index.html' %}
{% load custom_filters %}
{% block pagename %}<h2>Delete article Page</h2>{% endblock %}

{% block content %}
<div class="alert alert-danger" role="alert">
    <h5>Вы действительно хотите удалить данную статью?</h5>
</div>
<p>{{ new.title|Censor }}</p>
<span>{{ new.created|date:'d-F-Y H:i' }}</span>
<p>{{ new.text|Censor }}</p>

<form method="POST">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Success delete</button>
</form>
{% endblock content %}
