{% extends 'index.html' %}

{% block pagename %}<h2>User Profile Page</h2>{% endblock %}

{% block content %}

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary" title="save changes">Save</button>
</form>

{% if is_not_authors %}
    <button type="button" class="btn btn-success" onclick="document.location='/sign/upgrade/'" title="push me" style="margin-top:10px;">I want to be an author of articles</button>
{% endif %}

{% endblock content %}
